
  					<section class="main alt special" id="contact">
  						<header>
						<h2>Find My Representative</h2>
						</header>
						<div class="inner narrow">
  							<form action="/" method="post">
                  <%= token_tag %>
                  <div class = "field">
                    <input type="text" class="form-control" id="address" name="address" placeholder="Address Line 1">
                  </div>
                  <div class = "field half">
                    <input type="text" class="form-control" id="city" name="city" placeholder="City">
                  </div>
                  <div class = "field half">
                    <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Zipcode">
                  </div>
  								<ul class="actions">
  									<li><button class="button" type="submit">Submit</button></li>
  								</ul>
  							</form>
  						</div>
  					</section>
