  			<div id="wrapper">
  					<section class="main alt special" id="contact">
  						<header>
  							<h2>Find My Senator</h2>

  						</header>
  						<div class="inner narrow">
  							<form action="/" method="post">
                  <%= token_tag %>
                  <div class = "field">
                    <input type="text" class="form-control" id="address" name="address" placeholder="Address Line 1">
                  </div>
                  <div class = "field half">
                    <input type="text" class="form-control" id="city" name="city" placeholder="City">
                  </div>
                  <div class = "field half">
                    <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Zipcode">
                  </div>
  								<ul class="actions">
  									<li><button class="button" type="submit">Submit</button></li>
  								</ul>
  							</form>
  						</div>
  					</section>

  					<footer id="footer">
                          <p class="copyright">
  						© NYC Says Enough. All rights reserved. </p>
  					</footer>

  			</div>
  			<script src="assets/js/jquery.min.js"></script>
  			<script src="assets/js/jquery.dropotron.min.js"></script>
  			<script src="assets/js/jquery.scrollex.min.js"></script>
  			<script src="assets/js/jquery.scrolly.min.js"></script>
  			<script src="assets/js/skel.min.js"></script>
  			<script src="assets/js/util.js"></script>
  			<script src="assets/js/main.js"></script>
