@import "bootstrap";
@import "font-awesome";
/* universal */
body{
  background-color: #F3F3F3;
}
header{
  margin-top:75px;
}
header:before {
  content: '';
  display: inline-block;
  width: 6.5rem;
  height: 0.25rem;
  margin: 0 0 1.5rem 0;
  border-radius: 4px;
  background-color: #e56f44;
}

.votes-container{
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  margin:15px;
}
.bill{
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  margin:15px;
}
.votes-container .card{
  background-color: #eeeeee;
  margin-bottom: 10px;
  padding: 5px;
}
.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
img {
    border-radius: 10px;
}
form {
  border-style: solid;
  border-width: 2px;
  border-color: #888;
  border-radius: 10px;
  padding: 15px;
  background-color: #eee;
  margin:50px;
}
#senator_card{
  width:850px;
  margin-top: 50px;
  border-radius: 10px;
}
.border_orange {
  border-color:#e56f44;
  border-width:2px;
}
img{
  border-color:#e56f44;
  border-width:2px;
  border-style: solid;
}
.nav-tabs .nav-link:hover{
  border-top-color: #e56f44;
  border-right-color: #e56f44;
  border-left-color: #e56f44;
}
.nav-tabs .nav-link{
  border-width:2px;
  margin-left: -2px;
  margin-bottom: -1px;
  border-bottom-style:none;
}
.nav-tabs .nav-link.active,{
  border-top-color: #e56f44;
  border-right-color: #e56f44;
  border-bottom-color: #fff;
  border-left-color: #e56f44;
  border-width:2px;
  border-bottom-style:solid
}
#tab-1{
  margin-left: 0px
}
#beliefs {
  overflow: hidden;
text-align: left;}
*,a, a:hover{color: #3f3f3f}
