@import "bootstrap";
@import "font-awesome";
/* universal */
body{
  background-color: #F3F3F3;
}
header{
  margin-top:75px;
}
header:before {
  content: '';
  display: inline-block;
  width: 6.5rem;
  height: 0.25rem;
  margin: 0 0 1.5rem 0;
  border-radius: 4px;
  background-color: #e56f44;
}
i{
  vertical-align: middle;
}
#representative_card{
  margin-top: 20px;
  text-align: center;
  width: 825px;
  border-radius: 10px;
}
#representative_card > .card-body{
  height: 400px;
  overflow: scroll
}
.votes-container{
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  margin:15px;
}
.bill{
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  margin:15px;
}
.votes-container .card{
  background-color: #eeeeee;
  margin-bottom: 10px;
  padding: 5px;
}
.center {
  text-align: center;
  align-self: center;
}

.center h1 {
  margin-bottom: 10px;
}
img {
    border-radius: 10px;
}
#senator_card{
  width:850px;
  margin-top: 50px;
  border-radius: 10px;
}
.border_orange {
  border-color:#e56f44;
  border-width:2px;
}
img{
  border-color:#e56f44;
  border-width:2px;
  border-style: solid;
}
.nav-tabs .nav-link:hover{
  border-top-color: #e56f44;
  border-right-color: #e56f44;
  border-left-color: #e56f44;
}
.nav-tabs .nav-link{
  border-width:2px;
  margin-left: -2px;
  margin-bottom: -1px;
  border-bottom-style:none;
}
.nav-tabs .nav-link.active,{
  border-top-color: #e56f44;
  border-right-color: #e56f44;
  border-bottom-color: #fff;
  border-left-color: #e56f44;
  border-width:2px;
  border-bottom-style:solid
}
#tab-1{
  margin-left: 0px
}
#beliefs {
  overflow: hidden;
text-align: left;}
*,a, a:hover{color: #3f3f3f}
.left{
  text-align: left;
}
.inner.narrow {
  max-width: 48rem;
}
button,
.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-family: "Raleway", Helvetica, sans-serif;
	font-weight: 800;
	font-size: 0.75rem;
	height: 3rem;
	line-height: 3.075rem;
	padding: 0 2.5rem;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	text-transform: uppercase;
	letter-spacing: 0.025rem;
}


button,
.button {
	background-color: #e56f44;
	color: #ffffff !important;
}

	button:hover,
	.button:hover {
		background-color: #e8805a;
		color: #ffffff !important;
	}

	button:active,
	.button:active {
		background-color: #e25e2e;
	}
  ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
  }
  input, textarea {
  	color: #3f3f3f;
}
  input[type="text"], textarea {
  	border-color: rgba(143, 143, 143, 0.25);
  }

  	input[type="text"]:focus {
  		border-color: #e56f44;
  		box-shadow: 0 0 0 1px #e56f44;
  	}
    .form-control:focus{
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      border-color: #e56f44;
      box-shadow: 0 0 0 1px #e56f44;
    }
    input[type="text"]:invalid{
      box-shadow: none;
    }

  input[type="text"] {
    height: 3rem;
  }

  textarea {
    width:100%;
    border-radius: 4px;
}
